In [48]:
import openpyxl

In [49]:
wb = openpyxl.load_workbook('exemple.xlsx')

In [50]:
 print(wb.sheetnames)

['Feuil1']

In [51]:
feuil = wb['Feuil1']

In [52]:
tuple(feuil['A1':'C6'])

((<Cell 'Feuil1'.A1>, <Cell 'Feuil1'.B1>, <Cell 'Feuil1'.C1>),
 (<Cell 'Feuil1'.A2>, <Cell 'Feuil1'.B2>, <Cell 'Feuil1'.C2>),
 (<Cell 'Feuil1'.A3>, <Cell 'Feuil1'.B3>, <Cell 'Feuil1'.C3>),
 (<Cell 'Feuil1'.A4>, <Cell 'Feuil1'.B4>, <Cell 'Feuil1'.C4>),
 (<Cell 'Feuil1'.A5>, <Cell 'Feuil1'.B5>, <Cell 'Feuil1'.C5>),
 (<Cell 'Feuil1'.A6>, <Cell 'Feuil1'.B6>, <Cell 'Feuil1'.C6>))

In [53]:
for rowOfCellObjects in feuil['A1':'C6']:
    for cellObj in rowOfCellObjects:
        print(cellObj.coordinate, cellObj.value)

A1 Vendeur
B1 Nombre de ventes
C1 total
A2 v1
B2 122
C2 2000
A3 v2
B3 90
C3 1700
A4 v3
B4 132
C4 1550
A5 v4
B5 87
C5 1475
A6 v5
B6 105
C6 2570

In [22]:
feuil = wb.active
feuil['A1'].value,feuil['B1'].value,feuil['C1'].value

('Vendeur', 'Nombre de ventes', 'total')

In [30]:
case = feuil['C2']

In [35]:
case.value

2000

In [39]:
case.row

2

In [40]:
case.column

3

In [47]:
print('Le vendeur V' + str(case.row - 1), 'a réalisé un total de ', case.value)

Le vendeur V1 a réalisé un total de  2000

In [43]:
print('La case ',case.coordinate ,'correspond à',case.value)

La case  C2 correspond à 2000

In [32]:
feuil.values

In [33]:
for row in feuil.values:
    for value in row:
        print(value)

Vendeur
Nombre de ventes
total
v1
122
2000
v2
90
1700
v3
132
1550
v4
87
1475
v5
105
2570

In [24]:
import pandas as pd

In [25]:
df = pd.DataFrame(feuil.values)
df

         0                 1      2
0  Vendeur  Nombre de ventes  total
1       v1               122   2000
2       v2                90   1700
3       v3               132   1550
4       v4                87   1475
5       v5               105   2570

In [26]:
from itertools import islice
d = feuil.values
cols = next(d)[1:]
d = list(d)
idx = [r[0] for r in d]
d = (islice(r, 1, None) for r in d)
df = pd.DataFrame(d, index=idx, columns=cols)
df

    Nombre de ventes  total
v1               122   2000
v2                90   1700
v3               132   1550
v4                87   1475
v5               105   2570

In [28]:
wb.save("C://Users//INPT//Desktop//fichier.xlsx")